{% extends 'base.html.twig' %}

{% block body %}
    <br><br>
    <div id="wrapper">
        <div class="container">

            <div class="row">
                <div class="col-sm-4 panel panel-default">
                    <h2>{{ 'two_week_ago'|trans }}</h2>
                    <ul>
                        {% for today in exerciseServices.two_week_ago %}
                        <li>{{ today.description }} - {{ today.weight }}KG X {{ today.numberRepetition }}
                            - {{ today.date|date("d/m/Y") }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-4 panel panel-default">
                    <h2>{{ 'week_ago'|trans }}</h2>
                    <ul>
                        {% for today in exerciseServices.week_ago %}
                        <li> {{ today.description  }}  -  {{ today.weight }}KG X {{ today.numberRepetition }}
                            - {{ today.date|date("d/m/Y") }} </li>
                        {% endfor %}>
                    </ul>
                </div>

                <div class="col-sm-4 panel panel-default">
                    <h2>{{ 'today'|trans }}</h2>
                    <ul>
                    {% for today in exerciseServices.today %}
                         <li> {{ today.description }} -  {{ today.weight }}KG X  {{ today.numberRepetition }}
                             - {{ today.date|date("d/m/Y") }} </li>
                    {% endfor %}
                    </ul>
                </div>


         </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
